<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>33401588729-r2ousv7b4mfoljg4v00fu45g3j0h4bk4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.33401588729-r2ousv7b4mfoljg4v00fu45g3j0h4bk4</string>
	<key>API_KEY</key>
	<string>AIzaSyDDDqhry-BpwGR-pbvbV7CTuSVLeSWQsgw</string>
	<key>GCM_SENDER_ID</key>
	<string>33401588729</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>deneme.c.odev4</string>
	<key>PROJECT_ID</key>
	<string>patikaodev4-91e74</string>
	<key>STORAGE_BUCKET</key>
	<string>patikaodev4-91e74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:33401588729:ios:7bd9cfd79b9fcc2cb54b28</string>
</dict>
</plist>